name: Build Dreamcast Project

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: nold360/kallistios-sdk:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile Project
        run: |
          source /opt/toolchains/dc/kos/environ.sh
          make
